<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <title>Riya Kadakia</title>
</head>
<body>
    <header>
        <h1>
            Riya Kadakia
        </h1>
        <nav>
          <a href="/index.html">Home</a>
          <a href="/views/cv.html">CV</a>
          <a href="/views/contact.html">Contact me</a>
          <a href="/views/fun.html">For fun</a>
      </nav>
  </header>
        <div class="main">
            <h2>Contact Me</h2>
            <form>
                <label for="name">Your name (required)</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="email">Your email</label>
                <input type="text" id="email" name="email"><br><br>
                <label for="comment">Your Comment</label>
                <input type="text" id="comment" name="comment">
                <input type="submit" value="Submit"><br><br>
              </form>
              <table>
                <tr>
                    <th><b>Contact Method</b></th>
                    <th><b>Description</b></th>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>rkadakia@andrew.cmu.edu</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>650-000-0000</td>
                  </tr>
                  <tr>
                    <td>LinkedIn</td>
                    <td><a href="https://www.linkedin.com/in/riya-kadakia-77491b270/">Riya Kadakia LinkedIn</a></td>
                  </tr>
            </table>
        </div>
        <footer>Copyright (c) 2025 designed and coded by Riya Kadakia</footer>
        
</body>
</html>