<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Riya Kadakia</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Riya Kadakia
        </h1>

        <nav>
          <ul class="nav-links">
              <li><a href="../index.html">About Me</a></li>
              <li><a href="./fun.html">Life</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li><a href="./cv.html">Resume</a></li>
              <li><a href="./template.html">Template</a></li>
          </ul>
          <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </nav>



  </header>
        <div class="mainLayout">
          <div id="item1">
            <h2>Find Me</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.335188065429!2d-79.95167302388985!3d40.445717671434984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f319b886a407%3A0xce32e7d2eca976d2!2sWushiland%20Boba%20-%20S%20Craig%20St%20(CMU)!5e0!3m2!1sen!2sus!4v1742409850997!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div id="item2">
            <h2>Contact Me</h2>
            <form>
                <label for="name">Your name (required)</label><br>
                <input type="text" id="name" name="name" required><br>
                <label for="email">Your email (required)</label><br>
                <input type="text" id="email" name="email" required><br>
                <label for="comment">Your Comment (required)</label><br>
                <input type="text" id="comment" name="comment" required style="width: 250px; height: 100px;"><br>
                <input class="button" type="submit"  onclick="validForm()" value="SEND"><br><br>
                <p id="invalidForm"></p>
              </form>
          </div>
          <table>
            <tr>
                <th><b>Contact Method</b></th>
                <th><b>Description</b></th>
              </tr>
              <tr>
                <td>Email</td>
                <td>rkadakia@andrew.cmu.edu</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>650-733-5265</td>
              </tr>
              <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/riya-kadakia-77491b270/">Riya Kadakia</a></td>
              </tr>
        </table>
        <br>
        </div>
        <footer>
          <p id="copyYear">Designed and Coded by Riya Kadakia, All rights reserved Copyright (c) </p>
        </footer>
        
</body>
</html>