<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <title>Riya Kadakia</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Riya Kadakia
        </h1>
        <nav class="navbar">
            <a href="../index.html">About Me</a>
            <a href="./fun.html">Life</a>
            <a href="./contact.html">Contact</a>
            <a href="./cv.html">Resume</a>
        </nav>
    </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b><br>Description</b></th>
                </tr>
                <tr>
                    <td>Carnegie Mellon University     </td>
                    <td>Class of 2028 from the Information Systems Program at Carnegie Mellon University.</td>
                </tr>
                <tr>
                    <td>Carlmont High School</td>
                    <td>Class of 2024 from Carlmont High School.</td>
                </tr>
                <tr>
                    <td>NYU</td>
                    <td>Computer Engineering for Good Summer Program.</td>
                </tr>
                <tr>
                    <td>UC Berkeley</td>
                    <td>ATDP Summer Program</td>
                </tr>
            </table>
            <br>
            <a href="../static/resume.pdf">My Resume (pdf)</a> <br>
        </div>
        <footer>
            <p id="copyYear">Copyright (c) by Riya Kadakia, All rights reserved</p>
        </footer>
</body>
</html>