<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Riya Kadakia</title>
</head>
<div class="grid-container" onload="addYear()">
    <header>
        <h1>
            Riya Kadakia
        </h1>
        <nav>
            <ul class="nav-links">
                <li><a href="../index.html">About Me</a></li>
                <li><a href="./fun.html">Life</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="">Resume</a></li>
                <li><a href="./template.html">Template</a></li>
            </ul>
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </nav>

    </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b><br>Description</b></th>
                </tr>
                <tr>
                    <td>Carnegie Mellon University     </td>
                    <td>Class of 2028 from the Information Systems Program at Carnegie Mellon University.</td>
                </tr>
                <tr>
                    <td>Carlmont High School</td>
                    <td>Class of 2024 from Carlmont High School.</td>
                </tr>
                <tr>
                    <td>NYU</td>
                    <td>Computer Engineering for Good Summer Program.</td>
                </tr>
                <tr>
                    <td>UC Berkeley</td>
                    <td>ATDP Summer Program</td>
                </tr>
            </table>
            <br>
            <a href="../static/resume.pdf">My Resume (pdf)</a> <br>
        </div>
        <footer>
            <p id="copyYear">Designed and Coded by Riya Kadakia, All rights reserved Copyright (c) </p>
        </footer>
    </div>
</html>