<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <title>Riya Kadakia</title>
</head>
<body>
    <header>
        <h1>
            Riya Kadakia
        </h1>
        <nav>
            <a href="/index.html">Home</a>
            <a href="/views/cv.html">CV</a>
            <a href="/views/contact.html">Contact me</a>
            <a href="/views/fun.html">For fun</a>
        </nav>
    </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Description</b></th>
                  </tr>
                  <tr>
                    <td>Institute 1</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                  </tr>
                  <tr>
                    <td>Institute 2</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                  </tr>
            </table>
            <a href="/static/resume.pdf">My Resume (pdf)</a>
        </div>
        <footer>Copyright (c) 2025 designed and coded by Riya Kadakia</footer>
</body>
</html>