<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riya Kadakia</title>
</head>

<div class="grid-container">
    <header>Header</header>
    <nav>
        <ul class="nav-links">
            <li><a href="../index.html">About Me</a></li>
            <li><a href="../views/fun.html">Life</a></li>
            <li><a href="../views/contact.html">Contact</a></li>
            <li><a href="../views/cv.html">Resume</a></li>
            <li><a href="">Template</a></li>
        </ul>
        <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
    </nav>
    <figure>Main Image</figure>
    <main>Main Content
        <div id="blinkingBlock">Animation!</div>
    </main>
    <summary>Bottom Content</summary>
    <footer>Footer</footer>
</div>

</html>