* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding: 5px;
    margin: 5px;
}

/*
#list {
    display: none;
}
*/


.mainLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}



.container {
    border-radius: 100%; display: inline-block;border-radius: 10%; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@keyframes blink {
    0% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Fully invisible */
    }
    100% {
      opacity: 1; /* Fully visible again */
    }
  }
  
  #blinkingBlock {
    animation: blink 5s infinite;
    background-color: #f39c12;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 5px;
  }
  
.funIMG {
    border-radius: 100%;
}

.navbar a {
    text-decoration: none;
    color:black;
    margin-right: 15px;
}

th {
    padding-top:12px;
    padding-bottom: 12px;
    background-color:grey;
    color:white;
    width:fit-content;
}

tr:nth-child(odd) {
    background-color: rgb(205, 205, 205);
}

.button-new {
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color:black;
}


* form {
    display:block;
    margin:auto;
    text-align: center;
}

.button {
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    color:black;
}

#readLess {
    display:none;
}

#longIntro {
    display:none;
}


.grid-container {
    display: grid;
    grid-template-areas: 
    'header header'
    'nav nav' 
    'figure main' 
    'bottom-content bottom-content'
    'footer footer';
}

header {
    grid-area: header;
    background-color: lavender;
    animation: ani 2s ease-in-out infinite;
}

nav {
    grid-area: nav;
    background-color: pink;
    animation: mymove 5s infinite;
}

figure {
    grid-area: figure;
    background-color: rgb(243, 211, 150);
    height:30vh;
}

main {
    grid-area: main;
    background-color:rgb(250, 250, 189);
    height:30vh;
}

summary {
    grid-area: bottom-content;
    background-color: lightgreen;
    height:30vh;
}

footer {
    grid-area: footer;
    background-color: lightblue;
    height:10vh;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
    
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* Hide menu icon by default */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer; 
}

@media screen and (max-width: 650px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        'header'
        'nav' 
        'figure'
        'main' 
        'bottom-content'
        'footer';
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background:pink;
        width: 95%;
        text-align: center;
        padding: 10px;
    }
    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

nav a.active {
    color: rgb(0, 0, 0);
    background-color: #ff0077;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #fff;
    background-color: #0056b3;
    border-radius: 5px;
}

img {
    height: 12vh;
    width:auto;
}
